//<script type="text/jsx">

function FormularioRegistro() {

    const [form] = Form.useForm();
    
    const guardarFormulario = (datosFormulario) =>{
 
        notificacionGuardando("Guardando Usuario")
        
        const id = v4();

        google.script.run.withSuccessHandler(({titulo, descripcion}) => {
            notificacionTareaTerminada(titulo, descripcion);
            form.resetFields();
        }).guardarUsuario({id, ...datosFormulario});
    }
    return(
        <div className="px-20">
            <h2 className="text-center font-bold text-xl my-6">Formulario Registro</h2>
            <Form
                form={form}
                onFinish={guardarFormulario}
                layout="vertical">
                <Item name="nombreCompleto" label="Nombre completo" rules={[
                    {required: true, message: "Este campo no debe permanecer vacio"}
                    ]}>
                    <Input />
                </Item>
                <Item name="correo" label="Correo" rules={[
                    {type: "email", message: "Los campos no coinciden"},
                    {required: true, message: "Este campo no debe permanecer vacio"}
                    ]}>
                    <Input />
                </Item>
                <Item name="contraseña" label="Contraseña" rules={[
                    {required: true, message: "Este campo no debe permanecer vacio"}
                    ]}>
                    <Password />
                </Item>
                <Item className="text-center">
                    <Button htmlType="submit">Guardar</Button>  
                </Item>
            </Form>
        </div>
    )
}
  
//</script>