//<script type="text/jsx">

function FormularioRegistro(){
    const guardarFormulario = (datosFormulario) => {
        console.log(datosFormulario);
    }
    return(
        <div className="px-20">
            <h2 className="text-center font-bold text-xl my-6">Formulario Registro</h2>
            <Form
                onFinish={guardarFormulario}
                layout="vertical">
                <Item name="nombreCompleto" label="Nombre completo" rules={[
                    {required: true, message: "Este campo no debe de quedar vacio"}
                    ]}>
                    <Input />
                </Item>
                <Item name="correo" label="Correo" rules={[
                    {type: "email", message: "Los campos no coinciden"},
                    {required: true, message: "Este campo no debe de quedar vacio"}
                    ]}>
                    <Input />
                </Item>
                <Item name="contraseña" label="Contraseña" rules={[
                    {required: true, message: "Este campo no debe de quedar vacio"}
                    ]}>
                    <Password />
                </Item>
                <Item className="text-center">
                    <Button htmltype="submit">Guardar</Button>
                </Item>
            </Form>
        </div>
    )
}
  
//</script>