<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <?!= include('frontend/config/cdn') ?>
    
</head>
<body>
   <div id="root"></div>
</body>

<components style="display: none;">

    <!-- importaciones -->

    <!-- constantes -->
    <?!= include('frontend/config/constantesCdn') ?>

    <!-- rutas -->
    <?!= include('frontend/routes/Routes') ?>

    <!-- helpers -->
    <?!= include('frontend/helpers/modalesNotificaciones') ?>
    
    <!-- vistas -->
    <?!= include('frontend/views/Inicio') ?>
    <?!= include('frontend/views/formularios/FormularioRegistro') ?>
    <?!= include('frontend/views/usuarios/Usuarios') ?>
    <?!= include('frontend/components/Header') ?>

    <!-- Componente raiz -->
    <?!= include('frontend/views/App') ?>

</components>

</html>